---
import Gif from "./Gif.astro";

import "../styles/global.css";

--- 

<footer class=" text-pinkiePiePink py-4 text-center font-mono">
    <div class="container mx-auto px-6">
      <Gif src="./badges/doffy.gif"></Gif>

      <nav>
        <ul class="list-none p-8">|
          <li class="inline mx-2"><a href="/about" class="text-pinkiePiePink hover:underline">Bluesky</a></li> |
          <li class="inline mx-2"><a href="https://github.com/Noihirsch" class="hover:underline">Instagram</a></li> | 
          <li class="inline mx-2"><a href="/blog" class="hover:underline">Github</a></li> | 
        </ul>
      </nav>
    </div>
  </footer>