---
import Gif from "./Gif.astro";

import "../styles/global.css";

--- 

 <style>
    li {
      position: relative;
      display: inline-block;
      color: pinkiePiePink;
      overflow:hidden;
      transition: 0.2s;
      text-decoration: none;
    }
  
    nav li:hover {
      background: #b4005c;
      color:black;

    }
  </style>

<footer class=" text-pinkiePiePink py-2 text-center font-mono">
    <div class="container mx-auto px-2"></div>
      <Gif src="./badges/doffy.gif"></Gif>

      <nav>
        <ul class="list-none p-8">
          <li class="inline mx-2"><a href="https://cyberplace.social/@noidev" >mastodon</a></li> |
          <li class="inline mx-2"><a href="https://app.hackthebox.com/profile/">twitter</a></li> | 
          <li class="inline mx-2"><a href="https://x.com/noidevp">github</a></li> | 
          <li class="inline mx-2"><a href="https://app.hackthebox.com/profile/sudonoi">htb</a></li> 
        </ul>
      </nav>
    </div>
  </footer>