---
--- 

<footer class=" text-purple-400 py-4 text-center font-mono">
    <div class="container mx-auto px-6">
      <nav>
        <ul class="list-none p-8">
          <li class="inline mx-2"><a href="/about" class="text-purple-400 hover:underline">About</a></li> |
          <li class="inline mx-2"><a href="/contact" class=hover:underline">Contact</a></li> |
          <li class="inline mx-2"><a href="/privacy" class="hover:underline">Privacy Policy</a></li>
        </ul>
      </nav>
    </div>
  </footer>