---
import Layout from '../layouts/Layout.astro';
import Main from '../components/Main.astro';
import Footer from '../components/Footer.astro';
import P from '../components/P.astro';
import H3 from '../components/H3.astro';

---

<Layout title="Blog.">
    <Main>
        <H3 text="N01's ramblings">
        <P text="On the making"></P>
    </Main>
    <Footer></Footer>
</Layout>