---
import Layout from '../layouts/Layout.astro';
import Main from '../components/Main.astro';
import Footer from '../components/Footer.astro';
import H3 from '../components/H3.astro';
import Pub from '../components/Pub.astro';

const postModules = import.meta.glob('./blog/*.mdx', { eager: true }); // eager to import immediately

const posts = Object.entries(postModules).map(([path, post]) => {
  const mod = post as { frontmatter: { title: string; pubDate: string; description?: string } };

  return {
    url: path.replace('./', '/').replace('.mdx', ''),
    ...mod.frontmatter
  };
});

---

<link rel="icon" href="/favicon.ico" />
<Layout title="♡ my blog">
  <Main>
    <H3 text="♡ my blog" />
    <ul>
      {posts.map(post => (
        <li>
          <Pub href={post.url} title={post.title} pubDate={post.pubDate} />
        </li>
      ))}
    </ul>
  </Main>
  <Footer />
</Layout>
