---
import Layout from '../layouts/Layout.astro';
import H1 from '../components/H1.astro';
import Main from '../components/Main.astro';
import P from '../components/P.astro';
import Gif from '../components/Gif.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="uwu">
	<Main>
		<H1 text="welcome"></H1>
		<P text="hi my name is noi. I'm an informatics engineering undergrad and a web development associate's degree graduate."></P>
		<P text="i really like reading books, doing art and playing ttrpgs."></P>
		<P text="i'm an open source advocate."></P><br>
		<Gif url="https://64.media.tumblr.com/3250a784972f89cdbfea253965c34cd0/f21b5a88cdd2d1f6-b0/s540x810/1ca346168391c0af6d6d036ad6ce46a1f0605511.gif"></Gif>
		<Footer/>
	</Main>
</Layout>

