---
import Layout from '../layouts/Layout.astro';
import H3 from '../components/H3.astro';
import Main from '../components/Main.astro';
import P from '../components/P.astro';
import Footer from '../components/Footer.astro';
import "../styles/global.css";
import Box from '../components/Box.astro';
---

<style>

.sticker-container {
	  display: flex;
	  justify-content: center;
	  margin-top: 1rem;

	}
	.badge-container {
	  display: flex;
	  justify-content: center;
	  margin-top: 1rem;
	}
  
	.badge-container img {
	  max-width: 80%; 
	  width: 8%;
	  height: 4%;
	}


	.badge-container a img {
	  max-width: 80%;
	  width: 8%;
	  height: 4%;
	}

	div 
	{
		
	}
</style>

<Layout title="N01">
	<Main>
		<div>
		<H3 text="♡ welcome"></H3>
		<P text=" > i'm N01 (read as noi) and this is my blog"></P>
		<P text=" > opsec enthusiast, foss dev, cs student "></P>
		<P text=" > I love reading, bad coffee and red pandas."></P>
		</div>
		</Main>
		<Footer/>
		<div class="badge-container">
			<img src="./badges/g4.gif" alt="badge b">
			<img src="./badges/gplv3.gif" alt="badge b">
			<img src="./badges/rar_download.gif" alt="badge a">
			<img src="./badges/linux_mint.gif" alt="badge b">
			<img src="./badges/endeavour.jpg" alt="badge b">
			<img src="./badges/graphicdesign.gif" alt="badge b">
			<img src="./badges/konata.gif" alt="badge b">
		</div>


		
		<br>
	
</Layout>
