---
import Layout from '../layouts/Layout.astro';
import Main from '../components/Main.astro';
import Footer from '../components/Footer.astro';
import PubData from '../components/PubData.astro';
import "../styles/global.css";

type Props = {
  title: string;
  pubDate: string;
  description?: string;
};

const { title, pubDate, description } = Astro.props;
---

<Layout title={title}>
  <Main>
    <PubData title={title} pubDate={pubDate} description={description} />
    <article class="prose prose-invert mt-6">
      <slot />
    </article>
  </Main>
  <Footer />
</Layout>
